@page
@model RPiWebsiteNET5.Pages.Users.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mx-auto" style="max-width:500px;">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body">
                    <div class="card-text">
                        <form method="POST">
                            @if (Model.IsUpdateSuccessful)
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-success" role="alert">
                                            <i class="fas fa-check"></i> Successfully submitted user changes.
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-danger" role="alert">
                                            <i class="fas fa-exclamation-triangle"></i> @Model.ErrorMessage
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <label asp-for="NewPassword" class="col-md-6 col-form-label"></label>
                                <div class="col-md-6">
                                    <input class="form-control" asp-for="NewPassword" />
                                </div>
                                <span asp-validation-for="NewPassword" class="offset-md-6 col-md-6"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="NewPasswordConf" class="col-md-6 col-form-label"></label>
                                <div class="col-md-6">
                                    <input class="form-control" asp-for="NewPasswordConf" />
                                </div>
                                <span asp-validation-for="NewPasswordConf" class="offset-md-6 col-md-6"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-key"></i> Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}